@font-face {

    font-family: hylia-serif;
    src: url(../fonts/hylia_serif_beta_v0-009/HyliaSerifBeta-Regular.otf);

}

@font-face {

    font-family: ;
    src: url();

}

@font-face {

    font-family: ;
    src: url();

}