@font-face {

    font-family: hylia-serif;
    src: url(../fonts/hylia_serif_beta_v0-009/HyliaSerifBeta-Regular.otf);

}

@font-face {

    font-family: fot-rodin;
    src: url(../fonts/fot-rodinbokutoh-pro-eb/FOT-RodinBokutohProEB.otf);

}

@font-face {

    font-family: sheikah-serif;
    src: url(../fonts/botw-sheikah-sarinilli/BotW_Sheikah.ttf);

}