/*  fonts  */

@font-face {

    font-family: hylia-serif;
    src: url("../fonts/webkit_conversions/webfontkit-20240107-153409/hyliaserifbeta-regular.woff2") format("woff2");

}

@font-face {

    font-family: fot-rodin;
    src: url("../fonts/webkit_conversions/webfontkit-20240107-153409/fot-rodin_pro_db.woff2") format("woff2");

}

@font-face {

    font-family: sheikah-serif;
    src: url("../fonts/webkit_conversions/webfontkit-20240107-153409/botw_sheikah.woff2") format("woff2");

}


/*  everything that shows on page load  */

.website-title{

    font-family: hylia-serif;
    font-size: 80px;
    color: #ffffff;
    text-align: center;
    text-shadow:
      0 0 2px #6666ff /* #3dc5ff cant be used because of contrast issues */,
      0 0 4px #4444ff /* #3dc5ff cant be used because of contrast issues */,
      0 0 8px #6666ff /* #3dc5ff cant be used because of contrast issues */,
      0 0 12px #4444ff /* #3dc5ff cant be used because of contrast issues */,
      0 0 20px #6666ff /* #3dc5ff cant be used because of contrast issues */;


}

body {
    background-color: #000000;
}

.card-holder{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;

}

.compendium-card{

    border-style: double;
    border-color: #ffffff;
    /* border-radius: 50% 20% / 10% 40%; */
    height: 170px;
    width: 170px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 60px;
    
}

.money-shot { height: 100%; width: 100%; position: relative; bottom:76px; z-index: 6;}

.displayed-name{
    
    font-family: "sheikah-serif";
    padding-bottom: 12px;
    text-align: center;
    position: relative;
        bottom: 90px;
    color: #ffffff;
    text-shadow:
      0 0 2px #3dc5ff /* #3dc5ff cant be used because of contrast issues */,
      0 0 4px #3dffc5 /* #3dc5ff cant be used because of contrast issues */,
      0 0 8px #3dc5ff /* #3dc5ff cant be used because of contrast issues */,
      0 0 12px #3dffc5 /* #3dc5ff cant be used because of contrast issues */,
      0 0 20px #3dc5ff /* #3dc5ff cant be used because of contrast issues */;
    

}
.compendium-number{

    font-size: 27px;
    position: relative;
        top: 115px;

    font-family: "sheikah-serif";
    z-index: 7; /* why 7? because it isn't unreasonably large and is most definetly going to show above the thingies */
    color: #5cd1ff; /* #00b7ff is a really good blue color but i just cant with it combined with this glow effect */
    text-shadow:
      0 0 2px #6666ff /* #3dc5ff cant be used because of contrast issues */,
      0 0 4px #4444ff /* #3dc5ff cant be used because of contrast issues */,
      0 0 8px #6666ff /* #3dc5ff cant be used because of contrast issues */,
      0 0 12px #4444ff /* #3dc5ff cant be used because of contrast issues */,
      0 0 20px #6666ff /* #3dc5ff cant be used because of contrast issues */;
    text-align: right;
    padding-right: 2px;
    
}

.detailed-view-viewspace{ 

    display: none;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);z-index: 8; 

}

.comparison-image{ position: sticky; top: 0; height: height; width: width;}

/* page load on hover */

/* .compendium-number:hover { font-family: "sheikah-serif" }
   .displayed-name:hover { font-family: "sheikah-serif" } 
   doesnt work for some reason */

/* on click */

.name-text{ font-family: "hylia-serif"; font-size: 70px; text-align: center;}
.locations{ font-family: "hylia-serif"; font-size: 18px; text-align: right;}
.viewspace-id-number{ font-family: "hylia-serif";  font-size: 50px; text-align: left;}
.viewport-desc{ font-family: "hylia-serif"; }

.bg-img{ display: hidden; }